@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "Avenger";
    src: url('Fontes/AVENGEANCE\ HEROIC\ AVENGER\ AT.otf') format('OpenType');
}

@font-face {
    font-family: "Sans";
    src: url('Fontes/CursiveSans-Bold.ttf') format('TrueType');
}

:root {
    --fonte-padrão: "Avenger";
    --fonte-destaque: "Sans";
}

header {
    background-color: rgb(14, 14, 14);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
    
}

header > a > img {
    width: 75px;
    height: 75px;
}

nav > a {
    padding: 15px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
    transition-duration: 0.5s;
}

nav > a:hover {
    color: rgb(255, 153, 0);
    transition-duration: 0.5s;
}

main > .seção1 {
    box-shadow: inset 5px 5px 8px rgba(0, 0, 0, 0.507);
    background: azure url("Imagens/on-air-gbb836f664_1280.jpg") center center no-repeat fixed;
    background-size: cover;
    padding-bottom: 40%;
}

main > #Sobre {
    background-color: rgb(14, 14, 14);
    padding: 30px;
}

main > #Sobre > h1 {
    color: rgb(240, 151, 34);
    font-family: var(--fonte-destaque);
    font-size: 6vw;
    text-align: center;
}

main > #Sobre > p {
    color: rgb(240, 151, 34);
    font-family: var(--fonte-destaque);
    font-size: 3.5vw;
    text-align: center;
    margin: 50px;
}

main > #contatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    background-color: rgb(240, 151, 34);
}

main > #contatos > h1 {
    font-family: var(--fonte-destaque);
    font-size: 6vw;
    text-align: center;
}

main > #contatos > p {
    font-family: var(--fonte-destaque);
    font-size: 3.5vw;
    text-align: center;
    line-height: 2em;
}

main > #contatos > a {
    font-family: var(--fonte-destaque);
    text-decoration: none;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 2vw;
    transition-duration: 0.5s;
}

main > #contatos > a:hover {
    color: rgb(240, 151, 34);
    background-color: black;
    transition-duration: 0.5s;
}

